body {
	background: url(f.jpg) no-repeat fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.container {
	max-width: 100%;
	height: 600 px;
	 
}
/*colocar borde*/
.borde {
	height: 275px;
	margin-top: 19%;
	}

.btn {
	border: solid black;
	color: black;
	background-color: white;
}

.posision {
	z-index: -1000;
	position: absolute;
	left: 0px; 
	top: -15px;
}

.letra {
	font-family: 'Kaushan Script', cursive;
	color: #99cc33;
}

.color{
	color: #080f17;
}